@font-face {
    font-family: Bentham;
    src: url('Bentham.otf');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #000000;
}

div {
    margin: 5px;
}

#menu_rounded_box {
    background-image: -webkit-gradient (linear, right top, left bottom, color-stop(0, #D8DEE8), color-stop(1, #3880FC) );
    background-image: -o-linear-gradient(left bottom, #D8DEE8 0%, #3880FC 100%);
    background-image: -moz-linear-gradient(left bottom, #D8DEE8 0%, #3880FC 100%);
    background-image: -webkit-linear-gradient(left bottom, #D8DEE8 0%, #3880FC 100%);
    background-image: -ms-linear-gradient(left bottom, #D8DEE8 0%, #3880FC 100%);
    background-image: linear-gradient(to left bottom, #D8DEE8 0%, #3880FC 100%);
    border-color: #000000;
    border-radius: 10px;
    border-style: solid;
    color: #000000;
    font-family: Bentham;
    font-size: 30px;
    margin-top: 15px;
    padding: 2px;
    text-align: center;
}

#content_rounded_box {
    background-image: -webkit-gradient (linear, right top, left bottom, color-stop(0, #D8DEE8), color-stop(1, #3880FC) );
    background-image: -o-linear-gradient(left bottom, #D8DEE8 0%, #3880FC 100%);
    background-image: -moz-linear-gradient(left bottom, #D8DEE8 0%, #3880FC 100%);
    background-image: -webkit-linear-gradient(left bottom, #D8DEE8 0%, #3880FC 100%);
    background-image: -ms-linear-gradient(left bottom, #D8DEE8 0%, #3880FC 100%);
    background-image: linear-gradient(to left bottom, #D8DEE8 0%, #3880FC 100%);
    border-color: #000000;
    border-radius: 10px;
    border-style: solid;
    color: ##000000;
    font-family: Bentham;
    font-size: 30px;
    margin-top: 15px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0em;
    text-align: left;
}

.title {
    text-align: center;
}

.italics {
    font-style: italic;
}

.image {
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 100%;
}

.email {
    text-decoration: underline;
}