body {
    margin: 0;
    padding: 0;
}

#banner {
    background-image: -webkit-gradient (linear, right top, left bottom, color-stop(0, #309662), color-stop(1, #4DEB9A) );
    background-image: -o-linear-gradient(left bottom, #309662 0%, #4DEB9A 100%);
    background-image: -moz-linear-gradient(left bottom, #309662 0%, #4DEB9A 100%);
    background-image: -webkit-linear-gradient(left bottom, #309662 0%, #4DEB9A 100%);
    background-image: -ms-linear-gradient(left bottom, #309662 0%, #4DEB9A 100%);
    background-image: linear-gradient(to left bottom, #309662 0%, #4DEB9A 100%);
    color: #FFFFFF;
    font-family: Georgia, serif;
    font-size: 150%;
    padding: 1px;
    text-align: center;
    text-shadow: #000000 3px 3px, #000000 3px 3px;
    word-wrap: break-word;
}

#content {
    font-family: Georgia, serif;
    font-size: 120%;
    padding-left: 5px;
    padding-right: 5px;
    text-align: left;
}

.image {
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 100%;
}

.link {
    color: inherit;
    text-decoration: none;
}

.menu_ul {
    background-color: #136323;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    text-align: center;
}

.menu_li {
    display: inline;
}

.menu_li a {
    color: #FFFFFF;
    display: inline-block;
    font-family: Georgia, serif;
    font-size: 150%;
    height: 1.5em;
    margin: auto;
    padding: 10px;
    text-align: center;    
    text-decoration: none;
    text-shadow: #000000 1.5px 1.5px;
}

/*
.menu_li a:hover {
    background-image: -webkit-gradient (linear, right top, left bottom, color-stop(0, #309662), color-stop(1, #4DEB9A) );
    background-image: -o-linear-gradient(left bottom, #309662 0%, #4DEB9A 100%);
    background-image: -moz-linear-gradient(left bottom, #309662 0%, #4DEB9A 100%);
    background-image: -webkit-linear-gradient(left bottom, #309662 0%, #4DEB9A 100%);
    background-image: -ms-linear-gradient(left bottom, #309662 0%, #4DEB9A 100%);
    background-image: linear-gradient(to left bottom, #309662 0%, #4DEB9A 100%);
    color: #FFFFFF;
    text-shadow: #000000 1px 1px;
}
*/